body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cf1919; /* Very dark metallic gray */
    color: #ecf0f1;
  }
  
  .app-wrapper {
    background-color: #302d2d; /* Ensure the wrapper covers the background */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header {
    background-color: #030303; /* Darker gray for the header */
    color: #ecf0f1;
    padding: 20px;
    text-align: left;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #c0bd16; /* Modern red accent color */
  }
  
  .header p {
    margin: 0;
    font-size: 1.2em;
  }
  
  .content {
    padding: 20px;
    flex-grow: 1;
  }
  
  .sections-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #ecf0f1;
  }

  .top-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #ecf0f1;
  }
  
  section {
    background-color: #030303; /* Same darker gray for sections */
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  section h2 {
    color: #c0bd16; /* Red accent color for headers */
    border-bottom: 2px solid #c0bd16;
    padding-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #122d49; /* Slightly lighter gray for list items */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  a {
    color: #1abc9c; /* Modern green for links */
    text-decoration: none;
  }
  
  .footer {
    background-color: #01050a;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
  }
  