
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="header">
  <h1>JD Installations</h1>
  <p>Your favorite installers of the JD variety</p>
</div>

<div class="content">
  <section class="about-us">
    <h2>About Us</h2>
    <p>
      JD Installations is the (east coast's) top construction company.
    </p>
  </section>

  <section class="services">
    <h2>Our Services</h2>
    <ul>
      <li>Residential Construction</li>
      <li>Commercial Construction</li>
      <li>Renovations and Remodeling</li>
      <li>Custom Installations</li>
      <li>Project Management</li>
    </ul>
  </section>

  <section class="contact-us">
    <h2>Contact Us</h2>
    <p>For inquiries and quotes, reach out to us:</p>
    <p>Email: sampleEmail&#64;gmail.com </p>
    <p>Phone: +1 (123) 456-7890</p>
  </section>
</div>

<div class="footer">
  <p>&copy; 2024 JD Installations. All rights reserved.</p>
</div>


<router-outlet></router-outlet>
